<!DOCTYPE HTML>

<html>
	<head>
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../css/styleNew.css" />
		<STYLE>
			 
				.ui-btn-left  {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	border-radius:22px;
	border:3px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:11px 48px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2b665e;
}
.ui-btn-left :hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.ui-btn-left :active {
	position:relative;
	top:1px;
}

			
		</STYLE>
		<!--[if lte IE 9]><link rel="stylesheet" href="../css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!-- libreria jQuery hosteada por google-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<!-- script jquery: -->
		<script>
		$( document ).ready(function() { // cuando la web ya esta cargada ejecuta esto:

			


            $.get("/apiUserSubjects", function (json) {
                arrayParseado = JSON.parse(json);
                var contenido = '<ul>';
                var i = 0;
                var j = 0;
                while (i < arrayParseado.length) {
                    contenido += '<ul class="links">';
                    contenido += '<h2>' + arrayParseado[i].year + '</h2>';
                    while (j < arrayParseado[i].subjects.length) {
                        contenido += '<li>';
                        contenido += '<a>';
                        contenido += '<h3>' + (arrayParseado[i].subjects[j]).name + '</h3>';
                        contenido += '</a>';
                        contenido += '</li>';
                        j++;
                    }
                    contenido += '</ul>';
                    j = 0;
                    i++
                }
                $("#menuMateriasShow").html(contenido);
            }); // fin get method.

            $.get("/apiArticles", function (json) {
                articles = JSON.parse(json);
                var i = 0;
                var contenido = '';
                while (i < articles.length) {
                    contenido += '<article class="post">';

                    contenido += '<header>';
                    contenido += '<div class="title">';
                    contenido += '<h2><a href="#">' + articles[i].title + '</a></h2>';
                    contenido += '</div>';

                    contenido += '<div class="meta">';
                    contenido += '<time class="published" datetime="2015-11-01"> falta guardar fecha</time>';
                    contenido += '<a href="#" class="author"><span class="name" >' + articles[i].author + '</span></a>';
                    contenido += '</div>';
                    contenido += '</header>';

                    var textoArticulo = articles[i].content;
					var porcionArticulo = textoArticulo.substring(0, 100); // 50 caracteres solamente,OJO creo q se rompe si hay menos de 50


                    contenido += '<div style="word-wrap:break-word;display:block;width:inherit">' + porcionArticulo + '</div>';

                    contenido += '<footer>';
                    contenido += '<ul class="actions">';
                    //href="#" onclick="loadArticle('+articles[i]._id+')"
                    contenido += '<li><button type="button" id="botonLeerMas'+articles[i]._id+'"  class="button big">Seguir Leyendo...</button></li>';
                    contenido += '<script>';
                    contenido += '$( "#botonLeerMas'+articles[i]._id+'" ).click(function() {';
  				    contenido += 'loadArticle("'+articles[i]._id+'");';
				    contenido += '});';
				    contenido += '<'+'/script>';
                    contenido += '</ul>';

                    contenido += '<ul class="stats">';
                    contenido += '<li><a href="#">Visitas 2200</a></li>';
                    contenido += '<li><a href="#" class="icon fa-heart">28</a></li>';
                    contenido += '<li><a href="#" class="icon fa-comment">128</a></li>';
                    contenido += '</ul>';

                    contenido += '</footer>';
                    contenido += '</article>';
                    i++
                }

                contenido += '<ul class="actions pagination">';
                contenido += '<li><a href="" class="disabled button big previous">Anterior</a></li>';
                contenido += '<li><a href="#" class="button big next">Siguiente</a></li>';
                contenido += '</ul>';
                $("#main").html(contenido);
            });

            

		});// fin ready document

        function loadArticle(idPost){
            $.get('../apiArticle/' + idPost, function (json) {
                noticia = JSON.parse(json);
                noticia = noticia[0];
                contenido = '';
                contenido += '<article class="post">';
                contenido += '<header>';
                 contenido += '<button type="button" onclick="/courses; return false;" class="ui-btn-left">Volver Atras</button>';
                contenido += '<div class="title">';
                contenido += '<h2><a href="#">' + noticia.title + '</a></h2>';
                contenido += '</div>';

                contenido += '<div class="meta">';
                contenido += '<time class="published" datetime="2015-11-01"> falta guardar fecha</time>';
                contenido += '<a href="#" class="author"><span class="name" >' + noticia.author + '</span></a>';
                contenido += '</div>';
                contenido += '</header>';



                contenido += '<div style="word-wrap: break-word; display: block; width: inherit">' + noticia.content + '</div>';

                contenido += '<footer>';
                contenido += '<ul class="stats">';
                contenido += '<li><a href="#">Visitas 2200</a></li>';
                contenido += '<li><a href="#" class="icon fa-heart">28</a></li>';
                contenido += '<li><a href="#" class="icon fa-comment">128</a></li>';
                contenido += '</ul>';

                contenido += '</footer>';
                contenido += '</article>';
                $("#main").html(contenido);
            });
        }





		</script>


    </head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">Inicio</a></h1>
						<nav class="links">
							<ul>
								<li><a href="#">Noticias</a></li>
								<li><a href="#">Años</a></li>
								<li><a href="#"> Sistema de Notas </a></li>
								<li><a href="courses/logout" style="text-decoration:none; color: #99CC00;"> Cerrar Sesion</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Buscar" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Buscar" />
								</form>
							</section>

						<!-- Links -->
							<section id="menuMateriasShow" >
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions vertical">
									<li><a href="#" class="button big fit">Perfil De Usuario</a></li>
										<!--<li><img src="images/face2.jpg" alt="Mountain View" style="width:304px;height:228px;"></li>-->
									<li>datos del usuario traidos por Json</li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<!--<a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>-->
								<!--<a href="#"><img src="images/logoCampusVirtual.jpg" alt="" /></a>-->
								<header>
									<h2>Campus Virtual</h2>
									<p>Sistema de consultas de datos.</p>
								</header>
							</section>



						<!-- Posts List -->
							<section>
								<ul class="posts">
									<li> Noticias </li>
									<li>
										<article>
											<header>
												<h3><a href="#">Noticia</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
											</header>
											<a href="#" class="image"><img src="../images/pic08.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">Noticia</a></h3>
												<time class="published" datetime="2015-10-15">October 15, 2015</time>
											</header>
											<a href="#" class="image"><img src="../images/pic09.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">Noticia</a></h3>
												<time class="published" datetime="2015-10-10">October 10, 2015</time>
											</header>
											<a href="#" class="image"><img src="../images/pic10bis.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">Noticia</a></h3>
												<time class="published" datetime="2015-10-08">October 8, 2015</time>
											</header>
											<a href="#" class="image"><img src="../images/pic11bis.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="#">Noticia</a></h3>
												<time class="published" datetime="2015-10-06">October 7, 2015</time>
											</header>
											<a href="#" class="image"><img src="../images/pic12bis.jpg" alt="" /></a>
										</article>
									</li>
								</ul>
							</section>


						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Diseñado por: <a href="http://html5up.net">Nombre Empresa.</a> Powered by Node.js HTML5, CSS3, JS, Jquery, Express, Moustache, MongoDB y HandleBars </a>.</p>
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/skel.min.js"></script>
			<script src="../js/util.js"></script>
			<!--[if lte IE 8]><script src="../js/ie/respond.min.js"></script><![endif]-->
			<script src="../js/main.js"></script>

	</body>
</html>
